---
import type { DetailedMovie, DetailedTv } from '@/types/index'
import MediaHeader from '@/components/media/MediaHeader.astro'
import MediaDescription from '@/components/media/MediaDescription.astro'

interface Props {
  mediaData: DetailedMovie & DetailedTv
}

const { mediaData } = Astro.props
---

<div>
  <MediaHeader mediaData={mediaData} />
  <MediaDescription mediaDescription={mediaData.overview} />
</div>
