---
import { getFilteredCredits } from '@/composables/getFilteredCredits'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import type { Credits } from '@/types'

interface Props {
  mediaOverview: string
  mediaCredits: Credits
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { mediaOverview, mediaCredits } = Astro.props
const filteredCast = getFilteredCredits(mediaCredits)
---

<section class="media-description">
  {
    mediaOverview && (
      <article class="media-description__overview overview">
        <h3 class="overview__title">{t('media-detail.synopsis')}</h3>
        <p class="overview__description">{mediaOverview}</p>
      </article>
    )
  }
  {
    filteredCast.directing && (
      <>
        <h3>Dirigida por:</h3>
        <p>{filteredCast.directing.name}</p>
      </>
    )
  }
</section>

<style lang="scss">
  .overview {
    padding: 3rem 0 3rem;
    @include responsive() {
      padding: 2rem 0 2rem;
    }
    &__title {
      padding: 0 0 1rem;
    }
  }
</style>
