---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

interface Props {
  mediaDescription: string
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { mediaDescription } = Astro.props
---

<section class="overview">
  <h3 class="overview__title">{t('media-detail.synopsis')}</h3>
  <p class="overview__description">{mediaDescription}</p>
</section>

<style lang="scss">
  .overview {
    padding: 3rem 0 3rem;
    @include responsive() {
      padding: 2rem 0 2rem;
    }
    &__title {
      padding: 0 0 1rem;
    }
  }
</style>
