---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import GithubIcon from '../svg/GithubIcon.vue'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const footerSections = [
  { title: t('footer.zinx.title'), description: t('footer.zinx.description') },
  { title: t('footer.about.title'), description: t('footer.about.description') },
  { title: t('footer.contact.title'), description: t('footer.contact.description') },
  { title: t('footer.updates.title'), description: t('footer.updates.description') },
]
---

<article class="footer">
  <div class="footer__grid">
    {
      footerSections.map((section) => (
        <section class="footer__section">
          <h4>{section.title}</h4>
          <p class="footer__text">{section.description}</p>
        </section>
      ))
    }
  </div>
  <div class="footer__line"></div>
  <div class="footer__bottom">
    <p class="footer__text">&copy; {t('footer.copyright')}</p>
    <a class="footer__link" href="https://github.com/torruuu/zinx" target="_blank">
      <GithubIcon />
    </a>
  </div>
</article>

<style lang="scss">
  .footer {
    background-image: linear-gradient(to top, rgba(100, 100, 100, 0.3), transparent);
    padding: map-get($map: $sizes, $key: s-general-padding);
    padding-top: 4rem;
    padding-bottom: 4rem;
    @include flex($direction: column);
    @include responsive() {
      padding: map-get($map: $sizes, $key: s-general-padding-mobile);
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    @include responsive(22.5rem) {
      align-items: flex-start;
    }
    &__grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 14rem;
      @include responsive(88rem) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 11rem;
      }
      @include responsive() {
        justify-content: space-between;
        column-gap: 6rem;
      }
      @include responsive(40rem) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include responsive(28rem) {
        column-gap: 2rem;
      }
      @include responsive(22.5rem) {
        grid-template-columns: 1fr;
        max-width: 15rem;
      }
    }
    &__section:nth-child(4) {
      @include responsive(88rem) {
        display: none;
      }
    }
    &__section:nth-child(3) {
      @include responsive(40rem) {
        display: none;
      }
    }
    &__section:nth-child(2) {
      @include responsive(22.5rem) {
        display: none;
      }
    }
    &__text {
      color: map-get($map: $colors, $key: c-gray);
      padding: 0.5rem 0 0;
      line-height: 1.5rem;
      font-size: map-get($map: $font-size, $key: fs-super-small);
      @include responsive() {
        font-size: map-get($map: $font-size, $key: fs-detail-paragraph);
      }
    }
    &__line {
      margin: 1.5rem 0;
      background-color: map-get($map: $colors, $key: c-gray);
      width: 100%;
      height: 0.01rem;
      @include responsive(40rem) {
        margin: 1rem 0;
      }
    }
    &__bottom {
      width: 100%;
      @include flex($justify-content: space-between);
    }
    &__link {
      display: block;
      width: 1.5rem;
      @include responsive(40rem) {
        width: 1.1rem;
      }
    }
  }
</style>
