// --------- MIXINS ----------

@mixin flex($direction: row, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin responsive($width: 64rem) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin height-responsive($height: 32rem) {
  @media screen and (max-height: $height) {
    @content;
  }
}

@mixin background-image(
  $image-url,
  $position: 0% 0%,
  $size: auto auto,
  $repeat: repeat,
  $attachment: scroll
) {
  background: {
    image: $image-url;
    position: $position;
    size: $size;
    repeat: $repeat;
    attachment: $attachment;
  }
}

@mixin genres() {
  @include flex($justify-content: flex-start);
  flex-wrap: wrap;
  gap: 0.2rem 1rem;
}

@mixin play-button-transition() {
  transition: 100ms all ease-out;
}
