// --------- MIXINS ----------

@mixin flex($direction: row, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin responsive($medida: 64rem) {
  @media screen and (max-width: $medida) {
    @content;
  }
}

@mixin background-image(
  $image-url,
  $position: 0% 0%,
  $size: auto auto,
  $repeat: repeat,
  $attachment: scroll
) {
  background: {
    image: $image-url;
    position: $position;
    size: $size;
    repeat: $repeat;
    attachment: $attachment;
  }
}
