/*********** VARIABLES GLOBALES *************/

$colors: (
  'c-white': #fff,
  'c-main-bg': #000,
  'c-black-sec': #141414,
  'c-gray': #c5c5c5,
  'c-searcher-bg': #111,
  'c-black-rgba': rgba(0, 0, 0, 0.7),
);

$fonts: (
  'f-font-thin': 'Campton-Thin',
  'f-font-extraLight': 'Campton-ExtraLight',
  'f-font-light': 'Campton-light',
  'f-font-book': 'Campton-book',
  'f-font-medium': 'Campton-medium',
  'f-font-semiBold': 'Campton-semibold',
  'f-font-bold': 'Campton-bold',
  'f-font-extraBold': 'Campton-ExtraBold',
  'f-font-black': 'Campton-Black',
  'f-material-icons': 'Material Icons',
);

$font-size: (
  'fs-detail-paragraph': 0.7rem,
  'fs-super-small': 0.8rem,
  'fs-extra-small': 0.9rem,
  'fs-small': 1rem,
  'fs-medium': 1.3rem,
  'fs-medium-big': 1.6rem,
  'fs-big': 2rem,
  'fs-extra-big': 3rem,
  'fs-titular-big': 4rem,
);

$sizes: (
  's-general-padding': 0 4.5rem,
  's-general-padding-mobile': 0 1rem,
  's-width-arrows': 4.5rem,
  's-width-arrows-mobile': 1rem,
  's-slider-margin': 0.7rem 0 0,
);

$icons: (
  'error': '\e000',
  'warning': '⚠',
  'info': 'ⓘ',
  'close': '\e5cd',
);

/*********** FIN VARIABLES GLOBALES *************/

/******** FUENTES ********/

@font-face {
  font-family: 'Campton-Thin';
  src: url('https://d1zjrnsze32g3g.cloudfront.net/fonts-globales/Campton-Thin.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Campton-ExtraLight';
  src: url('https://d1zjrnsze32g3g.cloudfront.net/fonts-globales/Campton-ExtraLight.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Campton-light';
  src: url('https://d1zjrnsze32g3g.cloudfront.net/fonts-globales/Campton-Light.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Campton-book';
  src: url('https://d1zjrnsze32g3g.cloudfront.net/fonts-globales/Campton-Book.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Campton-medium';
  src: url('https://d1zjrnsze32g3g.cloudfront.net/fonts-globales/Campton-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Campton-semibold';
  src: url('https://d1zjrnsze32g3g.cloudfront.net/fonts-globales/Campton-SemiBold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Campton-bold';
  src: url('https://d1zjrnsze32g3g.cloudfront.net/fonts-globales/Campton-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Campton-ExtraBold';
  src: url('https://d1zjrnsze32g3g.cloudfront.net/fonts-globales/Campton-ExtraBold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Campton-Black';
  src: url('https://d1zjrnsze32g3g.cloudfront.net/fonts-globales/Campton-Black.ttf');
  font-display: swap;
}
