// ------------- COLORES ----------------

$colors: (
  'c-font': #fff,
  'c-nav-bg': #141414,
  'c-main-bg': #000,
  'c-nav-link': #c5c5c5,
  'c-searcher-bg': #111,
);

// ------------- FONT-SIZES ----------------

$font-size: (
  'fs-h1': 1.5rem,
  'fs-nav-link': 0.9rem,
);

// ------------- SIZES ----------------

$sizes: (
  's-general-padding': 0 2rem,
);
