@import 'mixins', 'variables';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: map-get($map: $colors, $key: c-white);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 100%;
}

body {
  overflow-x: hidden;
  margin: auto;
  padding: 0;
  font-family: map-get($map: $fonts, $key: f-font-book);
  background-color: map-get($map: $colors, $key: c-black);
  min-height: 100vh;
  max-width: map-get($map: $sizes, $key: s-body);
  font-size: 100%;
}

h1 {
  font-size: map-get($map: $font-size, $key: fs-super-big);
  font-family: map-get($map: $fonts, $key: f-font-light);
  text-wrap: balance;
  @include responsive() {
    font-size: map-get($map: $font-size, $key: fs-medium);
  }
}

h2 {
  font-size: map-get($map: $font-size, $key: fs-medium);
  font-family: map-get($map: $fonts, $key: f-font-thin);
  text-wrap: balance;
  @include responsive() {
    font-size: map-get($map: $font-size, $key: fs-small);
  }
}

h3 {
  font-size: map-get($map: $font-size, $key: fs-big);
  font-family: map-get($map: $fonts, $key: f-font-light);
  text-wrap: balance;
  @include responsive() {
    font-size: map-get($map: $font-size, $key: fs-medium-big);
  }
}

h4 {
  font-size: map-get($map: $font-size, $key: fs-small);
  font-family: map-get($map: $fonts, $key: f-font-light);
  text-wrap: balance;
  @include responsive() {
    font-size: map-get($map: $font-size, $key: fs-extra-small);
  }
}

h5,
h6,
p,
span,
a,
blockquote,
i,
b,
u,
em {
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  hyphens: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a,
span {
  font-size: map-get($map: $font-size, $key: fs-extra-small);
  font-family: map-get($map: $fonts, $key: f-font-book);
}

/* Nivelamos problemas de tipografías y colocación de formularios */

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  appearance: none;
}

/* Evitamos problemas con los SVG */

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 200ms ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

/** Barra Scroll **/

::-webkit-scrollbar {
  width: 0.4375em;
  height: auto;
  border-radius: 0.25em;
  background-color: map-get($map: $colors, $key: c-black);
  @media (max-width: 53.625em) {
    width: 0;
  }
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: map-get($map: $colors, $key: c-gray-rgba);
  border-radius: 0.25em;
  @media (max-width: 53.625em) {
    width: 0;
  }
}
