---
import Nav from '@/components/nav/Nav.astro'
import { ViewTransitions } from 'astro:transitions'
import { getLangFromUrl } from '@/i18n/utils'
import { getSectionByRoute } from '@/composables/sections'
import LoadError from '@/components/common/LoadError.vue'
import LoadingPage from '@/components/common/LoadingPage.vue'

const lang = getLangFromUrl(Astro.url)
const title = getSectionByRoute(Astro.url.pathname, lang)?.title
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/zinx-logo.svg" />
    <link rel="preconnect" href="tmdb.org" />
    <link rel="preconnect" href="https://image.tmdb.org" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{`${title} - Zinx`}</title>
  </head>
  <body>
    <header>
      <Nav />
    </header>
    <LoadingPage client:load />
    <LoadError lang={lang} client:load />
    <slot />
  </body>
</html>
