---
import LogoNav from '@/components/nav/LogoNav.astro'
import LanguagePicker from '@/components/nav/LanguagePicker.vue'
import { getLangFromUrl } from '@/i18n/utils'
import { getSections } from '@/composables/sections'

const lang = getLangFromUrl(Astro.url)
const sections = getSections(lang)

const isCurrentSection = (section: string) => section === Astro.url.pathname
---

<nav class="nav-container">
  <LogoNav />
  <div class="nav-container__links">
    {
      sections.map((section) => (
        <a
          href={section.route}
          class:list={[
            'nav-container__link',
            { 'nav-container__current': isCurrentSection(section.route) },
          ]}
        >
          {section.title}
        </a>
      ))
    }
  </div>
  <div class="nav-container__picker">
    <LanguagePicker lang={lang} client:load />
  </div>
</nav>

<style lang="scss">
  .nav-container {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    height: 6.5vh;
    width: 100%;
    padding: map-get($map: $sizes, $key: s-general-padding);
    @include flex($justify-content: flex-start);
    gap: 2.5rem;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    animation: scroll-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 10rem;
    &__links {
      @include flex();
      gap: 1.2rem;
    }
    &__link {
      color: map-get($map: $colors, $key: c-gray);
      &:hover {
        color: map-get($map: $colors, $key: c-white);
      }
    }
    &__current {
      color: map-get($map: $colors, $key: c-white);
      font-size: map-get($map: $font-size, $key: fs-small);
      font-family: map-get($map: $fonts, $key: f-font-semiBold);
      cursor: default;
    }
    &__picker {
      flex-grow: 1;
      height: 100%;
      @include flex($justify-content: flex-end);
    }
  }

  @keyframes scroll-header {
    to {
      background-color: map-get($map: $colors, $key: c-black-sec);
    }
  }
</style>
